<h3>Agregar <small>{{personaje.nombre}}</small></h3>
        <hr>
        <form (ngSubmit)="agregar()"> 
            <input type="text"
                   placeholder="Nombre"
                   name="nombre"
                   [(ngModel)]="personaje.nombre"
                   >
            <input type="number" 
                   placeholder="Poder"
                   name="poder"
                   [(ngModel)]="personaje.poder"
            >
            <button type="submit">Agregar</button>
        </form>
